/*!****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/less-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./src/components/userInfo.vue?vue&type=style&index=0&id=0a4b02ae&lang=less&scoped=true& ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************/
.login-no a[data-v-0a4b02ae] {
  font-size: 2rem;
  font-weight: 700;
  color: #313131;
  padding: 24px;
  display: block;
}
.login-yes[data-v-0a4b02ae] {
  padding: 20px 15px;
  display: flex;
  align-items: center;
}
.login-yes img[data-v-0a4b02ae] {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}
.login-yes .login-name[data-v-0a4b02ae] {
  flex: 1;
}
.login-yes .login-out[data-v-0a4b02ae] {
  color: #337ab7;
}

/*!************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/less-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./src/components/menu.vue?vue&type=style&index=0&id=a380d422&lang=less&scoped=true& ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************/
nav.menu-bar[data-v-a380d422] {
  position: fixed;
  top: 40px;
  bottom: 0;
  left: -200px;
  width: 200px;
  color: #313131;
  background-color: #fff;
  transition: all 0.3s ease;
  z-index: 10;
}
nav.menu-bar.show[data-v-a380d422] {
  transform: translateX(200px);
}
nav.menu-bar .menu-list[data-v-a380d422] {
  border-top: 1px solid #d4d4d4;
  padding-top: 18px;
}
nav.menu-bar .menu-list li.menu-item[data-v-a380d422]:hover {
  background-color: #f5f5f5;
}
nav.menu-bar .menu-list li.menu-item a[data-v-a380d422] {
  display: block;
  padding: 14px 24px;
  font-size: 1.4rem;
  color: #313131;
  font-weight: 700;
}
nav.menu-bar .menu-list li.menu-item a .iconfont[data-v-a380d422] {
  margin-right: 30px;
}
nav.menu-bar .menu-list li.menu-item[data-v-a380d422]:nth-of-type(6) {
  border-top: 1px solid #d4d4d4;
}
.message-count[data-v-a380d422] {
  position: absolute;
  color: red;
  left: 40px;
  top: 15px;
}

/*!**************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/less-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./src/components/header.vue?vue&type=style&index=0&id=29e8c3c6&lang=less&scoped=true& ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************/
.page-cover[data-v-29e8c3c6] {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 7;
}
.header-bar[data-v-29e8c3c6] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  z-index: 6;
  background-color: rgba(255, 255, 255, 0.95);
  transition: all 0.3s ease;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
.header-bar .menu-btn[data-v-29e8c3c6] {
  width: 44px;
  height: 40px;
  background-size: 24px;
}
.header-bar .info[data-v-29e8c3c6] {
  flex: 1;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
}
.header-bar .info .vue-logo[data-v-29e8c3c6] {
  width: 40px;
  height: 40px;
  /* background: url("../images/logo.png") center center no-repeat; */
  background-size: 24px;
}
.header-bar a.publish-btn[data-v-29e8c3c6] {
  color: #42b983;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  display: block;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/less-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./src/components/backTop.vue?vue&type=style&index=0&lang=less& ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.iconfont.icon-uptop {
  position: fixed;
  right: 10px;
  bottom: 80px;
  font-size: 5rem;
  color: #42b983;
  z-index: 100;
  cursor: pointer;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/less-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./src/components/loading.vue?vue&type=style&index=0&id=24a16d5c&lang=less&scoped=true& ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************/
.mask[data-v-24a16d5c] {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mask .loading[data-v-24a16d5c] {
  text-align: center;
}
.mask .loading .icon-loading[data-v-24a16d5c] {
  color: #ccc;
  display: inline-block;
  font-size: 5rem;
  -webkit-animation: gif-data-v-24a16d5c 1s infinite linear;
  animation: gif-data-v-24a16d5c 1s infinite linear;
}
@keyframes gif-data-v-24a16d5c {
0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
}
@-webkit-keyframes gif-data-v-24a16d5c {
0% {
    -webkit-transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
}
}

/*!************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/less-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./src/views/topicList.vue?vue&type=style&index=0&id=f23d497a&lang=less&scoped=true& ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************/
.topic[data-v-f23d497a] {
  padding-top: 40px;
}
.topic .topic-list li[data-v-f23d497a] {
  border-bottom: 1px solid #f0f0f0;
}
.topic .topic-list li[data-v-f23d497a]:hover {
  background-color: #f5f5f5;
}
.topic .topic-list li a[data-v-f23d497a] {
  padding: 10px 15px;
  display: block;
}
.topic .topic-list li a .top[data-v-f23d497a] {
  padding: 5px 0;
  display: flex;
}
.topic .topic-list li a .top span.normal[data-v-f23d497a] {
  flex: 0 0 auto;
  background-color: #e5e5e5;
  padding: 2px 4px;
  border-radius: 3px;
  color: #999;
  font-size: 1.2rem;
}
.topic .topic-list li a .top span.normal.color[data-v-f23d497a] {
  background-color: #80bd01;
  color: #fff;
}
.topic .topic-list li a .top h3[data-v-f23d497a] {
  color: #000;
  flex: 1 1 auto;
  margin-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.6rem;
}
.topic .topic-list li a .bottom[data-v-f23d497a] {
  display: flex;
  align-items: center;
}
.topic .topic-list li a .bottom .author[data-v-f23d497a] {
  flex: 0 0 auto;
  width: 38px;
  height: 38px;
  margin-right: 15px;
  border: 1px solid #ddd;
  border-radius: 50%;
  background-size: cover;
}
.topic .topic-list li a .bottom .info[data-v-f23d497a] {
  flex: 1 1 auto;
}
.topic .topic-list li a .bottom .info p[data-v-f23d497a] {
  display: flex;
  font-size: 1.2rem;
  color: #778087;
}
.topic .topic-list li a .bottom .info p span[data-v-f23d497a]:first-child {
  flex: 1 1 auto;
}
.topic .topic-list li a .bottom .info p span[data-v-f23d497a]:last-child {
  flex: 0 0 auto;
}
.topic .topic-title[data-v-f23d497a] {
  padding: 5px;
  margin: 15px;
  font-size: 1.8rem;
  color: #2c3e50;
  line-height: 1.5;
  background-color: #f0f0f0;
  border-radius: 5px;
}
.topic .author-info[data-v-f23d497a] {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: #34495e;
  padding: 0 15px;
}
.topic .author-info img.avatar[data-v-f23d497a] {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}
.topic .author-info .center[data-v-f23d497a] {
  flex: 1;
}
.topic .author-info .center .author[data-v-f23d497a],
.topic .author-info .center .info[data-v-f23d497a] {
  display: block;
  padding: 5px 0;
}
.topic .author-info .right .tag[data-v-f23d497a] {
  color: #999;
  padding: 5px 6px;
  font-size: 1.2rem;
  border-radius: 4px;
  text-align: center;
  display: block;
  background-color: #e5e5e5;
}
.topic .author-info .right .tag.color[data-v-f23d497a] {
  background-color: #80bd01;
  color: #fff;
}
.topic .author-info .right .name[data-v-f23d497a] {
  padding: 5px 0;
  display: block;
}
.topic .topic-content[data-v-f23d497a] {
  padding: 15px;
  margin-top: 15px;
  border-bottom: 1px solid #d4d4d4;
}
.topic .topic-reply .topic-total[data-v-f23d497a] {
  padding: 15px;
  border-bottom: 1px solid #d4d4d4;
}
.topic .topic-reply .topic-total strong[data-v-f23d497a] {
  color: #42b983;
}
.topic .topic-reply .reply-list[data-v-f23d497a] {
  margin-top: 15px;
}
.topic .topic-reply .reply-list li[data-v-f23d497a] {
  padding: 15px;
  border-bottom: 1px solid #d4d4d4;
}
.topic .topic-reply .reply-list li .user[data-v-f23d497a] {
  display: -webkit-flex;
  display: flex;
}
.topic .topic-reply .reply-list li .user .head[data-v-f23d497a] {
  width: 45px;
  height: 45px;
  margin-right: 10px;
  display: inline-block;
}
.topic .topic-reply .reply-list li .user .info[data-v-f23d497a] {
  flex: 1;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
.topic .topic-reply .reply-list li .user .info .left[data-v-f23d497a] {
  flex: 1;
  color: #626262;
}
.topic .topic-reply .reply-list li .user .info .right[data-v-f23d497a] {
  display: flex;
  align-items: center;
}
.topic .topic-reply .reply-list li .user .info .right .iconfont[data-v-f23d497a] {
  font-size: 26px;
}
.topic .topic-reply .reply-list li .user .info .right .iconfont.icon-dianzan.uped[data-v-f23d497a] {
  color: #80bd01;
}
.topic .topic-reply .reply-list li .reply-content[data-v-f23d497a] {
  margin-top: 15px;
}
.topic .topic-reply .reply-list li .reply-content img[data-v-f23d497a] {
  max-width: 100%;
  border: 0;
  vertical-align: middle;
}
.topic .topic-reply .reply-list li[data-v-f23d497a]:last-child {
  border-bottom: none;
}
.topic .reply[data-v-f23d497a] {
  margin: 0 15px;
}
.topic .reply textarea[data-v-f23d497a] {
  width: 100%;
  background-color: #fff;
  font-size: 14px;
  padding: 15px;
  color: #313131;
  border: 1px solid #d5dbdb;
}
.topic .reply .btn-reply[data-v-f23d497a] {
  border-bottom: 2px solid #3aa373;
  background-color: #4fc08d;
  font-size: 1.6rem;
  margin: 15px 0;
  color: #fff;
  padding: 10px;
  width: 100%;
  border-radius: 3px;
}
.loading[data-v-f23d497a] {
  width: 120px;
  /*height: 120px;*/
  margin: 5px auto;
  text-align: center;
}
.loading .icon-loading[data-v-f23d497a] {
  color: #ccc;
  display: inline-block;
  font-size: 5rem;
  -webkit-animation: gif-data-v-f23d497a 1s infinite linear;
  animation: gif-data-v-f23d497a 1s infinite linear;
}
@keyframes gif-data-v-f23d497a {
0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
}
@-webkit-keyframes gif-data-v-f23d497a {
0% {
    -webkit-transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
}
}

/*!***************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/less-loader/dist/cjs.js!./src/styles/main.less ***!
  \***************************************************************************************************************/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select,
button {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  width: 100%;
  font-size: 1.4rem;
  background-color: #fff;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
input[type="search"]:focus,
select,
textarea:focus {
  outline: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
textarea {
  resize: none;
  -webkit-appearance: none;
}
input,
button {
  -webkit-appearance: none;
}
select {
  /*-webkit-appearance: none;*/
  background-color: #fff;
}
#app {
  overflow-x: hidden;
}
.tab {
  display: -webkit-flex;
  display: flex;
  border-bottom: 1px solid #d4d4d4;
  height: 42px;
}
.tab .tab-item {
  flex: 1;
  border-right: 1px solid #d4d4d4;
  text-align: center;
  font-weight: 700;
  font-size: 1.6rem;
  padding: 10px 0;
  height: 42px;
}
.tab .tab-item.active {
  color: #ff5a5f;
  border-bottom: 2px solid #ff5a5f;
}
.tab .tab-item:last-child {
  border-right: none;
}
.no-data {
  text-align: center;
  color: #d4d4d4;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.no-data .iconfont.icon-empty {
  display: block;
  font-size: 12.5rem;
  color: #d4d4d4;
}

/*!******************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-3[0].rules[0].use[1]!./node_modules/postcss-loader/dist/cjs.js!./src/styles/iconfont/iconfont.css ***!
  \******************************************************************************************************************************************************************/
@font-face {
  font-family: "iconfont";
  src: url("//at.alicdn.com/t/font_flullthqh62vgqfr.eot?t=1478750580998"); /* IE9*/
  src: url("//at.alicdn.com/t/font_flullthqh62vgqfr.eot?t=1478750580998#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("//at.alicdn.com/t/font_flullthqh62vgqfr.woff?t=1478750580998")
      format("woff"),
    /* chrome, firefox */
      url("//at.alicdn.com/t/font_flullthqh62vgqfr.ttf?t=1478750580998")
      format("truetype"),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
      url("//at.alicdn.com/t/font_flullthqh62vgqfr.svg?t=1478750580998#iconfont")
      format("svg"); /* iOS 4.1- */
}

.XVvVdn4GbYEEIWlj6ZQq {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.j7ZcL8RvdsquvHkJahGL:before {
  content: "\e659";
}

.ny_nETIrAdVzDzPigRki:before {
  content: "\e628";
}

